.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.light-mode {
  background-color: #ffffff;
  color: #333333;
}

/* Colors for Dark Mode */
.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}
