.task-card {
  position: relative;
  /* width: 260px;
  max-width: 260px; */
  background: radial-gradient(
    circle at top,
    #461446 0%,
    #2c063f 66%,
    #a419a7 950%
  );
  border: 2px solid #73167596;
  border-radius: 16px;
  padding: 16px;
  /* margin: 12px; */
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: beige;
}

/* .delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
} */

/* .task-header h4 {
  margin: 0;
  font-size: 18px;
} */

.task-level {
  font-size: 12px;
  color: rgb(219, 224, 178);
}

.task-desc {
  font-size: 16px;
  margin-bottom: 12px;
  text-align: left;
  justify-content: flex-start;
  color: white;
}

.task-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.task-actions button {
  padding: 6px;
  border-radius: 12px;
  border: 1px solid #111;
  background: #f3f3f3;
  cursor: pointer;
}

.task-deadline {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}
