/* .column-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.6rem 1.4rem;
  border-radius: 14px;
  color: #fff;
  border: 2px solid #ffcc00;
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}
.column-tasks {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
} */