.navbar {
  height: 64px;
  background: #371650;
  border: 2px solid white;
  color: #e4a02d;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 0 28px;
  margin: 12px;
  position: relative;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar-left {
  flex: 1;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  transform: rotate(-2deg);
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  gap: 28px;
}

/* RIGHT */
.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.theme-btn {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
}

.nav-btn {
  background: transparent;
  color: #e4a02d;
  border: 2px solid #e4a02d;
  padding: 6px 16px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
}


.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: #e4a02d;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 76px;
  right: 12px;
  background: #371650;
  border: 2px solid white;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 100;
  min-width: 180px;
  text-align: center;
}

.logout-dialog {
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .navbar-center,
  .navbar-right {
    display: none;
  }

  .hamburger-btn {
    display: block;
    margin-left: auto;
  }
}
