.navbar {
  height: 64px;
  background: #1a082a ;
  border: 2px solid white ;
  color: #e4a02d;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  margin: 12px;
}
/* .navbar.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.navbar.light {
  background-color: #f5f5f5;
} */
.navbar a {
  color: inherit;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.4px;
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: rotate(0deg);
}

.navbar-center {
  list-style: none;
  display: flex;
  gap: 28px;
  color: #e4a02d;
}
.navbar-center:hover{
  color: white;
}

.navbar-center a {
  text-decoration: none;
 
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 2px;
}
.theme-btn {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  background: transparent;
  color: #e4a02d;
  border: 2px solid #e4a02d ;
  padding: 6px 16px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.nav-btn:hover {
 
  color: #ffffff;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 16px;
  }

  .navbar-center {
    flex-direction: column;
    gap: 10px;
  }
}
