/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */
@import "tailwindcss";


@theme {
  --color-backGroundColor: #1a082a;
  --color-textColor: #fff;
  --color-warning: #ff0000;
  --color-borderColor: #e4a02d;
  --color-btnColor: #420356;
  --color-secondaryColor: #e4a02d;
  --color-colColr: #371650;
  --color-colTitle: #420356;
}
:root {
  font-family: Poppins;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1a082a;
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}
body.light {
  background-color: #ffffff;
  color: #121212;
} */ /* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

@layer utilities {
  .border-gradient {
    border: 3px solid transparent;
    background:
      linear-gradient(#2c0e48, #2c0e48) padding-box,
      linear-gradient(to right, #f2c21b, #c16b08) border-box;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/ .board {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.task-card {
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.task-title {
  margin: 0 0 6px;
  font-size: 16px;
  color: #1a1a1a;
}

.task-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.task-deadline {
  font-size: 12px;
  color: #888;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
nav {
  display: flex;
  gap: 34px;
}
/* 
li {
  list-style: none;
} */
